<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <title>BMSCE LAB MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery.min.js"></script>
  <script src="/bootstrap.min.js"></script>
   <style type="text/css">
    th,td{padding:15px;}
   </style>
 </head>
 <body>
 <div class="navbar" style="background-color:orange;color:white;">
  <h1 style="font-family:serif">EDIT BATCH TEACHER<br/><small>Welcome Admin</small></h1>

 </div>
  <div style="position:relative;left:200px">
  <form method="post">
  <label> Batch Incharge 
    <select name="TeacherId">
      {{#teachers}}
        <option value="{{TeacherId}}"> {{Firstname}} {{Lastname}} </option>
      {{/teachers}}
    </select>
  </label>
<br>
<br>
<input type="submit" value="Update"/>
</form>
</div>
</body>
</html>
